<div class="page-header container">
  <%= link_to quotes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    List
  <% end %>
  <%= link_to @quote, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h3>Editing Quote</h3>
</div>
<div class="container">
  <%= render 'form' %>
</div>
