<div class="page-header">
  <%= link_to quotes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    List
  <% end %>
  <h3>New quote</h3>
</div>

<%= render 'form' %>
