<div class="page-header container">
  <%= link_to quotes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    List
  <% end %>
  <h3>New quote</h3>
</div>
<div class="container">
  <%= render 'form' %>  
</div>
