<div class="parent">
  <div class="container">
    <div class="view-quote">
      <h4>"<%= @quote.quote %>"</h4>
      <h5><%= @quote.author %></h5>
        <%= link_to @quote.previous do %>
          <i class="fa fa-reply fa-2x arrowicon" aria-hidden="true"></i>
          <% end %>
          <%= link_to @quote.next do %>
          <i class="fa fa-share fa-2x arrowicon" aria-hidden="true"></i>
        <% end %>
    </div>
  </div>
</div>

