body {
  font-family: 'TisaSansPro', sans-serif;
  padding: 0em;
  margin: 0em;
  min-height: 100vh;
}

body::after {
  content: "";
  background-color: #377bb5;
  background-size: cover;
  background-position: bottom;
  position: fixed;
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.main-logo h1 {
  font-size: 80px;
  font-family: 'TisaPro';
  font-weight: normal;
  color: #e0357f;
  text-align: center;
  line-height: 60px;
  margin-top: 1em;
  letter-spacing: -5px;
  text-shadow: -1px 2px 3px #aaa;
}

.main-logo h2 {
  font-size: 80px;
  font-family: 'TisaPro';
  font-weight: normal;
  color: #377bb5;
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: -.4em;
  letter-spacing: -4px;
  text-shadow: -1px 2px 3px #aaa;
}

.main-logo p {
  color: #377bb5;
  font-size: 60px;
  text-align: center;
  letter-spacing: -8px;
}

.landing h3 {
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  margin-top: .5em;
}

.landing h4 {
  text-align: center;
  font-size: 36px;
  line-height: 35px;
  font-weight: 400;
  margin-left: -2em;
}

.landing h1 {
  margin-left: 1em;
  margin-top: -.6em;
  font-family: 'Noteworthy';
  line-height: 24px;
  font-size: 72px;
  color: #e0357f;
}

.wrapper {
  border: 2px solid black;
  background: white;
  min-height: 90vh;
  margin: 3em;
  min-height: 95vh;
}

.qtable th {
  font-weight: 400;
  color: #377bb5;
  font-size: 16px;
}

.table thead tr th {
  border-bottom: 2px solid white;
  padding: 0em 1em .5em 1em;
}

.table tbody tr:hover {
  background-color: #eaf5ff;
}

.qlink a {
  text-decoration: none;
  color: #595a5b;
}

.qlink td {
  font-size: 11px;
  color: #595a5b;
  border-bottom: 1px solid #eaf5ff;
}

tbody.table-body tr td {
  padding-left: 1.5em;
}

.delete {
  margin-right: 1em;
}

.add-new {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  border-bottom: none;
}

.but-wide {
  min-width: 90vw;
  border-radius: 16px;
  height: 30px;
}

.search-text {
  font-size: 12px;
  color: black;
  background-color: black;
}

.daily-quote {
  background: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

.view-quote {
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: -1px 2px 8px black;
  border-radius: 8px;
  margin: 2em 1em 0em 1em;
  padding: 2em 1em 2em 1em;
  background-color: white;
}

.view-quote h5 {
  font-family: 'Noteworthy';
  text-align: center;
  font-size: 20px;
  margin-top: .5em;
  margin-bottom: 1em;
}

.view-quote h4 {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  margin: 0em 1em 0em 1em;
}

.quoticon {
  color: white;
  margin-top: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 50%;
  padding: 7px;
  background-color: #4d87e2;
}

.arrowicon {
  color: #769b1a;
  padding: 4px;
  margin-top: .85em;
}

.new-input {
  margin: 1em;
}

.place::placeholder {
  font-size: 10px;
}

button {
  margin-left: 1em;
  text-align: center;
}

.update {
  text-align: center;
}

label {
  font-weight: normal;
}

.search {
  padding: 4px;
  font-size: 12px;
  margin-left: 0em;
}

.sbox {
  height: 28px;
}

.qheader {
  display: flex;
  padding-right: 1em;
  align-items: center;
  height: 4em;
}

.nav-color {
  background-color: #e0357f;
}

#title {
  color: white;
  font-weight: 400;
}

// #home:hover,
// #view:hover,
// #add:hover,
// #search:hover {
//   color: yellow;
// }
//
// #home,
// #view,
// #add,
// #search {
//   color: white;
// }

.navbar-form {
  border-style: none;
  box-shadow: none;
}

.list-group {
  margin-left: 1em;
  margin-right: 1em;
}

.faicon {
  margin-right: 10px;
}

.add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc;
}
