body {
  font-family: 'TisaSansPro', sans-serif;
  padding: 0em;
  margin: 0em;
  min-height: 100vh;
}

body::after {
  content: "";
  background-color: #377bb5;
  background-size: cover;
  background-position: bottom;
  position: fixed;
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.main-logo h1 {
  font-size: 80px;
  font-family: 'TisaPro';
  font-weight: normal;
  color: #e0357f;
  text-align: center;
  line-height: 60px;
  margin-top: 1em;
  letter-spacing: -5px;
  text-shadow: -1px 2px 3px #aaa;
}

.main-logo h2 {
  font-size: 80px;
  font-family: 'TisaPro';
  font-weight: normal;
  color: #377bb5;
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: -.4em;
  letter-spacing: -4px;
  text-shadow: -1px 2px 3px #aaa;
}

.main-logo p {
  color: #377bb5;
  font-size: 60px;
  text-align: center;
  letter-spacing: -8px;
}

.landing h3 {
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  margin-top: .5em;
}

.landing h4 {
  text-align: center;
  font-size: 36px;
  line-height: 35px;
  font-weight: 400;
  margin-left: -2em;
}

.landing h1 {
  margin-left: 1em;
  margin-top: -.6em;
  font-family: 'Noteworthy';
  line-height: 24px;
  font-size: 72px;
  color: #e0357f;
}

.wrapper {
  border: 2px solid black;
  background: white;
  min-height: 80vh;
  margin: 3em;
}

table th {
  border-bottom: none;
}

.qtable th {
  font-weight: 400;
  color: #377bb5;
  font-size: 16px;
}

.table thead tr th {
  border-bottom: 2px solid white;
  padding: 0em 1em .5em 1em;
}

.table tbody tr:hover {
  background-color: #eaf5ff;
}

.qlink a {
  text-decoration: none;
  color: #595a5b;
}

.qlink td {
  font-size: 11px;
  color: #595a5b;
  border-bottom: 1px solid #eaf5ff;
}

tbody.table-body tr td {
  padding-left: 1.5em;
  border-top: none;
  vertical-align: middle;
  font-size: 12px;
}

.delete {
  margin-left: 1em;
  color: #e0357f;
}

.edit {
  color: #377bb5;
}

.changes {
  margin-left: 2em;
}

.add-new {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  border-bottom: none;
}

.but-wide {
  min-width: 90vw;
  border-radius: 16px;
  height: 30px;
}

.sortdrop {
  margin-right: .5em;
  margin-bottom: -1.5em;
}

.sortbox {
  font-size: 12px;
  padding: 0px 10px;
  margin-right: 1.5em;
}

.sort-choice {
  font-size: 12px;
  text-align: left;
}

tbody tr td div.truncate {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all ease 0.8s;
}

.daily-quote {
  background-image: url("rainbow.png");
  background-size: cover;
  text-align: center;
  padding: 1em;
  margin: 0 1em 0 1em;
  border: 1px solid #e0357f;
  box-shadow: 1px 1px 5px black;
}

.message {
  color: #e0357f;
  margin: 1em;
  font-size: 14px;
  text-align: center;
}

.view-quote {
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: -1px 2px 8px black;
  border-radius: 8px;
  margin: 2em 1em 0em 1em;
  padding: 2em .5em 2em .5em;
  background-color: white;
}

.view-quote h5 {
  font-family: 'Noteworthy';
  text-align: center;
  font-size: 20px;
  margin-top: .5em;
  margin-bottom: 1em;
}

.view-quote h4 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin: 0em 1em 0em 1em;
}

.quoticon {
  color: white;
  margin-top: .5em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 50%;
  padding: 7px;
  background-color: #377bb5;
}

.arrowicon {
  color: #e0357f;
  padding: 4px;
  margin-top: .2em;
}

button {
  margin-left: 1em;
  text-align: center;
}

.update {
  text-align: center;
}

label {
  font-weight: normal;
}

.search {
  padding: 4px;
  font-size: 12px;
}

.sbox {
  height: 28px;
}

.qheader {
  display: flex;
  padding-right: .5em;
  align-items: center;
  height: 4em;
}

.nav-color {
  background-color: #e0357f;
}

#title {
  color: white;
  font-weight: 400;
}

#title:hover {
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 5px black;
}

#new-quote {
  color: white;
  font-weight: 400;
  margin-left: 2em;
  margin-right: 2em;
}

#new-quote:hover {
  color: white;
  font-weight: 400;
  margin-left: 2em;
  margin-right: 2em;
  text-shadow: 1px 1px 5px black;
}

.quotable {
  margin: 0em;
  padding-left: 0em;
  padding-right: 0em;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin: 1em -2em;
}

.navbar-form {
  border-style: none;
  box-shadow: none;
}

.nav-wide {
  display: flex;
  justify-content: flex-start;
}

.list-group {
  margin-left: 1em;
  margin-right: 1em;
}

.faicon {
  margin-right: 10px;
}

.add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc;
}

// media queries

// phone-only
@media (max-width: 599px) {
  .input-group {
    max-width: 35vw;
  }

  .navbar-brand {
    font-size: 15px;
  }

  #new-quote {
    color: white;
    font-weight: 400;
    margin-left: -.35em;
    margin-right: .5em;
  }

  #new-quote:hover {
    color: white;
    font-weight: 400;
    margin-left: -.35em;
    margin-right: .5em;
    text-shadow: 1px 1px 5px black;
  }

  .adjust {
    display: flex;
    justify-content: flex-end;
    margin-top: -2.2em;
    margin-right: .5em;
  }

  .qtable {
    min-height: 40vh;
    min-width: 95vw;
  }

  .qlink tr td {
    display: block;
    border: none;
  }

  .qlink td {
    margin-top: .75em;
    margin-bottom: .25em;
  }

  tbody.table-body tr td {
    font-size: 14px;
    padding: 0 1.5em;
  }

  tbody.table-body tr {
    border-top: 1px solid #eaf5ff;
  }

  .qtable th {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  .category {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  tbody tr td div.truncate {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all ease 0.8s;
  }

  .day-quote {
    max-height: 20vh;
    transition: all ease 0.8s;
    padding: 0em .25em;
    margin-top: -.5em;
  }

  .author {
    font-weight: bold;
    margin-top: -.5em;
    opacity: .8;
  }

  .numbers {
    margin-top: 2em;
  }
}

// tablet-portrait-up
@media (min-width: 600px) {
  .input-group {
    width: 250px;
  }

  .container {
    max-width: 70vw;
    transition: all ease 0.8s;
  }

  .daily-quote {
    background-image: url("rainbow.png");
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin: 0 1.5em 0 1em;
    border: 1px solid #e0357f;
    box-shadow: 1px 1px 5px black;
  }

  tbody tr td div.truncate {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all ease 0.8s;
  }

  .qtable {
    transition: all ease 0.8s;
    min-height: 45vh;
  }
}

// still hiding photo
@media (max-width: 799px) {
  .photo-day {
    opacity: 0;
  }
}

// tablet-landscape-up
@media (min-width: 800px) {
  .input-group {
    width: 250px;
  }

  tbody tr td div.truncate {
    width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all ease 0.8s;
  }

  tbody.table-body tr td {
    font-size: 13px;
  }

  .container {
    max-width: 70vw;
    transition: all ease 0.8s;
  }

  .mid-table {
    display: flex;
    justify-content: flex-start;
    transition: all ease 1.5s;
  }

  .day-quote {
    justify-content: flex-end;
    max-width: 35vw;
    transition: all ease 0.8s;
  }

  .daily-quote {
    background-image: url("rainbow.png");
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #e0357f;
    box-shadow: 1px 1px 5px black;
  }

  .qtable {
    max-width: 75vw;
    min-height: 65vh;
  }

  .photo-day {
    min-height: 45vh;
    max-width: 35vw;
    background-image: url("https://source.unsplash.com/random/?portrait,nature,water");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    border: 1px solid #377bb5;
    transition: all ease 0.8s;
    box-shadow: 1px 1px 5px black;
  }
}

// desktop-up
@media (min-width: 1200px) {
  .qtable {
    max-width: 75vw;
  }

  tbody tr td div.truncate {
    width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all ease 0.8s;
  }

  tbody.table-body tr td {
    font-size: 14px;
  }

  .mid-table {
    display: flex;
    justify-content: flex-start;
  }

  .day-quote {
    justify-content: flex-end;
    transition: all ease 0.8s;
    max-width: 30vw;
    margin-right: 1em;
  }

  .daily-quote {
    background-image: url("rainbow.png");
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin-left: 2em;
    margin-right: 1em;
    border: 1px solid #e0357f;
    box-shadow: 1px 1px 5px black;
  }

  .photo-day {
    min-height: 50vh;
    max-width: 30vw;
    background-image: url("https://source.unsplash.com/random/?flower");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 1em;
    border: 1px solid #377bb5;
    box-shadow: 1px 1px 5px black;
    transition: all ease 0.8s;
  }
}
